* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    --title-color: #4F686F;
    --second-title-color: #3E4F66;
    --under-title-color: #7FAEC5;
    --highlight-color: #69CD58;
    --title-font: 'Raleway', sans-serif;
    --second-font: 'Open Sans', sans-serif;
    --title-font-size: 3rem;
    --second-font-size: 1.3rem;
    --title-font-weight: 700;
    --second-font-weight: 550;
    --third-font-size: 1.4rem;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 0.6rem;
    height: 0.6rem;
}

::-webkit-scrollbar-track {
    background-color:#e3e8e9;
}

::-webkit-scrollbar-thumb {
    background-color: #b9c4c7;
    transition: 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--under-title-color);
}

main {
    display: flex;
    flex-direction: column;
}

.mainTitle {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 24rem;
}

h1 {
    font-size: var(--title-font-size);
    font-family: var(--title-font);
    font-weight: var(--title-font-weight);
    color: var(--title-color);
}

h2 {
    font-size: var(--second-font-size);
    font-weight: var(--second-font-weight);
    font-family: var(--title-font);
    color: var(--under-title-color);
}

p, .meerLezen{
    font-size: var(--third-font-size);
    font-weight: var(--second-font-size);
    font-family: var(--second-font);
    color: var(--title-color);
    max-width: 30em;
}

.meerLezen {
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;
}

.extraText {
    display: none;
}

.mainSection {
    background-image: url(../assets/mainSVG4.svg);
    background-position: center bottom;
    background-size: 100vw auto;
    background-repeat: no-repeat;
    height: 101vh;
}

.secondSection {
    padding-top: 80px;
    margin-left: 10%;
    margin-right: 10%;
}

header {
    color: var(--title-color);
    font-family: var(--title-font);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    z-index: 12;
}

header h1 {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    margin: 0;
    transition: 0.3s ease;;
}

header a {
    color: var(--title-color);
    text-decoration: none;
    font-family: var(--title-color);
    font-size: var(--second-font-size);
    transition: 0.3s ease;
}


header .links:hover, header h1:hover{
    color: var(--highlight-color);
}

.nav-container {
    display: flex;
    align-items: center;
    width:100%;
    justify-content: space-between;
}

.nav-logo{
    margin-bottom: 0.6%;
    padding: 0.4%;
}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

#contactLink, #homeLink {
    display: none;
}

.header-line {
    width: 100%;
    height: 0.6rem;
    position: absolute;
    bottom: 0;
    border: none;;
    animation-duration: 0.1s;
}   

.header-line::-webkit-progress-bar {
    background-color: #e3e8e9;
 }

.header-line::-webkit-progress-value {
    background-color: #7FAEC5;
    transition: 0.3s ease;
}   

ul button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--title-color);
    font-family: var(--title-font);
    font-size: var(--second-font-size);
    transition: 0.3s ease;;
}

ul button:hover {
    color: var(--highlight-color);
}

.dropdown {
    margin-right: 1rem;
}

.dropdown-content {
    display: block;
    height: 0; 
    overflow: hidden;
    position: absolute;
    background-color: white;
    margin-top: 0.9vh;
    z-index: 10;
    width: 100vw;
    left: 0;
    transition: 0.3s ease-in-out;
}

.dropdown-content a {
    display: flex;
    text-decoration: none;
    font-size: 2rem;
    line-height: 4rem;
    justify-content: center;
}

.dropdown-content a:hover {
    color: var(--highlight-color);
}


.articles {
    display: flex;
    flex-direction: row;
    max-width: 84vw;
    overflow-x: scroll;
    overflow-y: hidden;
}

#lezenSection {
    margin-right: 0;
}

.articleContainer {
    display: flex;
    flex-direction: column;
    min-width: 15rem;
    height: 40vh;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 1rem 2rem 1rem 0;
}

.articleImage { 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6));
    padding: 0.7rem;
    line-height: 1.4;
    width: 100%;
}

.textContainer a {
    font-size: 0.9rem;
    font-weight: var(--second-font-size);
    font-family: var(--second-font);
    color: white;
    text-decoration: none;
}

.textContainer p {
    font-size: var(--second-font-size);
    font-weight: var(--second-font-size);
    font-family: var(--second-font);
    color: white;
    text-decoration: underline;
}

footer {
    background-color: #AEDBAB;
    height: 15vh;
    position: relative; 
}

footer p {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    white-space: nowrap;
}

#contactSection {
    height: 85vh;
    overflow: hidden;
    position: relative;
    margin-right: 0;
}

#tonSVG {
    display: none;
}

#flowerSVG {
    display: none;
}

form {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    margin-top: 4vw;
    width: 75%;
}

input[type=text], input[type=email], textarea, input[type=submit] {
    width: 100%;
    padding: 12px 12px;
    margin: 0.7rem;
    border: none;
    border-bottom: 0.15rem solid var(--second-title-color);
    font-size: var(--third-font-size);
    color: var(--second-title-color);
    font-family: var(--second-font);
}

textarea {
    height: 25vh;
    resize: none;
}

input[type=submit] {
    background-color: var(--highlight-color);
    color: var(--second-title-color);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s ease;
}

input[type=submit]:hover {
    background-color: var(--under-title-color);
    color: white;
}

@media (min-width: 600px) {
    .mainSection {
        background-image: url(../assets/mainSVG3.svg), url(../assets/rainSVG.svg);
        background-position: center bottom, 82vw 8vh;
        background-size: 100vw auto, 12rem;
        background-repeat: no-repeat;
    }
    .nav-container {
        justify-content: space-between;
        margin-right: 10px;
    }
    .nav-container ul {
        margin-left: 0vw;
    }
    .secondSection {
        padding-top: 80px;
    }

    * {
            --title-font-size: 3.5rem;
            --second-font-size: 1.6rem;
    }

    #flowerSVG {
        display: flex;
        position: absolute;
        bottom: 4%;
        right: 7%;
        scale: 3;
    }

    .dropdown-content {
        width: 14vw;
        left: auto;
        right: 0;
        position: absolute;
        z-index: 12;
    }
    
    .dropdown-content a {
        font-size: 1.5rem;
        line-height: 3rem;
    }    
}

@media (min-width: 800px) {
    .mainSection {
        background-image: url(../assets/mainSVG2.svg), url(../assets/rainSVG.svg);
        background-position: center bottom, 78vw 8vh;
        background-size: 100vw auto, 12rem;
        background-repeat: no-repeat;
    }
    #contactLink, #homeLink {
        display: flex;
    }
    .articleContainer {
        min-width: 23rem;
    }

    form {
        width: 50%;
    }

    #flowerSVG {
        right: 30%;
    }

    #tonSVG {
        display: flex;
        position: absolute;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        right: -22%;
    }
}


@media (min-width: 1000px) {
    .mainSection {
        background-image: url(../assets/mainSVG.svg), url(../assets/rainSVG.svg);
        background-position: center bottom, 75vw -10vh;
        background-size: 100vw auto, 15rem;
        background-repeat: no-repeat;    
    }
    
    #flowerSVG {
        right: 20%;
    }
}


@media (min-width: 1300px) {
    #tonSVG {
        right: 2%;
    }
    #flowerSVG {
        right: 30%;
    }
    .mainSection {
        background-image: url(../assets/mainSVG.svg), url(../assets/rainSVG.svg), url(../assets/rainSVG.svg);
        background-position: center bottom, 75vw -10vh, 90vw -10vh;
        background-size: 100vw auto, 15rem, 15rem;
    }
}